@charset "UTF-8";





/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    
    #menu {
        display: none;
    }

    header > main {
        display: block;
    }
    
    section {
        
        width: 45vh;
    }
        

    div#logo {
    
        display: block;
        width: 50%;

        height: 100px;
        margin:auto;
    }

    
    #titulo {
        display: block;
        width: 100%;
            
            
            
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (max-width: 992px) {
 
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (max-width: 1200px) {
    
  }
